html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /* colors */
    --primary-brand-clr: #4D5AE5;
    --primary-focus-hover-clr: #404BBF;
    --primary-bg-clr: #2E2F42B2;
    --primary-inverted-bg-clr: #FFFFFF;
    --success-clr: #31D0AA;
    --primary-text-clr: #434455;
    --primary-inverted-text-clr: #FFFFFF;
    --secondary--inverted-text-clr: #F4F4FD;
    --subtle-text-clr: #8E8F99;
    --accent-clr: #E7E9FC;
    /* sublate background */
    --lingt-bg-clr: #F4F4FD;
    /* light background */
    --modal-overlay-clr: #2E2F4266;
    --modal-bg-clr: #FCFCFC;
    --primary-text-dark-clr: #2E2F42;
    --footer-bg-clr: #2E2F42;
    /* fonts */
    --primary-font-size: 16px;
    --primary-line-height: 1.5;
    --primary-border-radius: 4px;
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-clr);
    background-color: var(--primary-inverted-bg-clr);
    letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* utility */

.list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--primary-focus-hover-clr);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* width: 1158px; */
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 428px;
    }
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link-item>.link {
    fill: var(--primary-brand-clr);
    background-color: var(--primary-brand-clr);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item>.link:hover,
.social-link-item>.link:focus {
    fill: currentColor;
    background-color: var(--primary-focus-hover-clr);
}

.social-link-item>.link>.social-link {
    color: inherit;
}

/* header */
.page-header {
    border-bottom: 1px solid var(--accent-clr);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu-container {
    position: relative;
}

.page-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    display: block;
    align-content: center;
    margin-right: 76px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--primary-brand-clr);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.header-web-logo {
    color: var(--primary-text-dark-clr);
}

/* .menu{
    margin-bottom: 284px;
} */

.menu-item {
    position: relative;

    display: block;
}

.menu-link {
    color: var(--primary-text-dark-clr);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--primary-focus-hover-clr);
}

.address {
    margin-left: auto;

    font-style: normal;
}

.address-item {
    /* padding-bottom: 40px;

    text-align: center; */
}

.address-item:last-child {
    /* padding-bottom: 48px; */
}

.contact {
    color: var(--primary-text-clr);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: var(--primary-focus-hover-clr);
}

.social-link-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link-item {
    width: 40px;
    height: 40px;
}

.social-link-item>.link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}


/* footer */

.footer {
    padding-top: 97px;
    padding-bottom: 96px;

    background-color: var(--footer-bg-clr);
}

.footer-box {
    display: flex;
    flex-direction: column;

    margin-bottom: 72px;
}

.footer-logo {
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 17px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--primary-brand-clr);
    text-transform: uppercase;
}

.footer-web-logo {
    color: var(--secondary--inverted-text-clr);
}

.footer-text {
    /* width: 264px; */

    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    text-align: center;

    color: var(--secondary--inverted-text-clr);
    background: var(--primary-text-dark-clr);
}

.social-media {
    /* margin-left: 120px; */
    margin-bottom: 72px;
}

.social-media-text {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--primary-inverted-text-clr);
}

.social-link-list.footer-link {
    gap: 16px;
}

.social-link-item.footer-link-item>.link:hover,
.social-link-item.footer-link-item>.link:focus {
    fill: var(--success-clr);
    background-color: var(--success-clr);
}


.subscrabe {
    /* margin-left: 80px; */
}

.subscrabe-text {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--primary-inverted-text-clr);
}

.footer-input {
    /* width: 254px; */
    width: 398px;
    height: 40px;

    padding: 8px 16px;
    margin-bottom: 16px;

    color: var(--primary-inverted-text-clr);
    border: 1px solid var(--primary-inverted-bg-clr);
    border-radius: 4px;

    background-color: var(--footer-bg-clr);
}

.footer-input::placeholder {
    color: var(--primary-inverted-text-clr);
}

.subscrabe-btn {
    display: flex;
    /* margin-left: 24px; */
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    width: 165px;
    height: 40px;

    border: none;
    border-radius: var(--primary-border-radius);

    color: var(--primary-inverted-text-clr);
    background-color: var(--primary-brand-clr);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscrabe-btn:hover,
.subscrabe-btn:focus {
    background-color: var(--primary-focus-hover-clr);
}

.subscrabe-icon {
    margin-left: 16px;

    fill: var(--primary-inverted-bg-clr);
}

/* hero */

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('./../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-origin: content-box;

    max-width: 1440px;
    height: 600px;
    /* padding-top: 112px; */
    /* padding-bottom: 112px; */
}

.hero-title {
    /* width: 320px;
    margin-bottom: 72px; */

    text-align: center;

    color: var(--primary-inverted-text-clr);
}

.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;


    color: var(--primary-inverted-text-clr);
    background: var(--primary-brand-clr);
    border-radius: 4px;
    cursor: pointer;
    border: none;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--primary-focus-hover-clr);
}

/* Features */

/* .features{} */

.features-list {
    /* display: flex;
    gap: 24px; */
}

.features-item {
    /* width: calc((100%-72px)/4); */
}

.icon-box {
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--primary-border-radius);

    background-color: var(--accent-clr);
}

.features-icon {}

.features-name {
    margin-bottom: 8px;

    letter-spacing: 0.02em;
    color: var(--primary-text-dark-clr);
}

.features-text {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-clr);
}

/* work options */

.work {
    /* display: none; */
}


/* team */

.team {
    background-color: var(--lingt-bg-clr);
}

.team-title {
    margin-bottom: 72px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-dark-clr);
}

.team-list {
    /* display: flex;
    gap: 24px; */
}

.team-item {
    width: 264px;

    border-radius: 0px 0px var(--primary-border-radius) var(--primary-border-radius);

    background: var(--primary-inverted-bg-clr);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item:hover,
.team-item:focus {
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 1px 6px rgba(46, 47, 66, 0.08);
}

.info {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid var(--accent-clr);
    border-top: none;
}

.surename {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;

    color: var(--primary-text-dark-clr);
}

.team-text {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}


/* customers */

.customers {}

.customers-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;

    color: var(--primary-text-dark-clr);
}

.customers-list {
    display: flex;
    /* flex-wrap: wrap;
    gap: 16px; */
}

.customers-item {
    /* width: calc((100% - 16px) / 2); */
    height: 88px;
}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    color: var(--subtle-text-clr);

    border: 1px solid currentColor;
    border-radius: var(--primary-border-radius);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--primary-focus-hover-clr);
}

.customers-icon {
    fill: currentColor;
}



/* Modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(46, 47, 66, 0.5);

    opacity: 1;

    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 230ms,
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 230ms;
}

.backdrop.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);

}

.modal {
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);

    width: 408px;
    height: 584px;


    background: var(--modal-bg-clr);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 24px;
    height: 24px;

    background: var(--accent-clr);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--primary-inverted-text-clr);
    background-color: var(--primary-focus-hover-clr);
}

.modal-text {
    margin-bottom: 16px;

    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--primary-text-dark-clr);
}

.application {}


.application-field {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;
}

.application-field.textarea {
    margin-bottom: 16px;
}

.application-input {
    margin: 0;
    padding: 10px 20px;
    padding-left: 30px;
    font: inherit;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-input:hover,
.application-input:focus {
    border-color: var(--primary-brand-clr);
}

.application-lable {
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translateY(-50%);

    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;

    color: var(--subtle-text-clr);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-input:focus+.application-lable,
.application-input:not(:placeholder-shown)+.application-lable {
    transform: translate(-25px, -36px);
    color: var(--primary-brand-clr);
}

.application-lable-comment {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 11px);

    margin-left: 4px;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;

    color: var(--subtle-text-clr);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-input:focus+.application-lable-comment,
.application-input:not(:placeholder-shown)+.application-lable-comment {
    transform: translate(1px, -16px);
    color: var(--primary-brand-clr);


}

.application-input:hover~.input-icon,
.application-input:focus~.input-icon {
    fill: var(--primary-brand-clr);
}


.application-field textarea {
    padding: 8px 16px;

    height: 120px;
}

.application-input textarea::placeholder {
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);
}

.application-policity {
    display: flex;
    align-items: center;

    margin-right: 5px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: var(--subtle-text-clr);
}

.policity-link {
    margin-left: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.04em;

    color: var(--primary-brand-clr);
}

.application-field.policity {
    margin-bottom: 24px;
}

.check-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-policity:checked+.check-icon {
    border-color: var(--primary-focus-hover-clr);
    background-color: var(--primary-focus-hover-clr);
    background-image: url('../images/check-mark.svg');
    background-size: contain;
    background-origin: content-box;
}

.checkbox-policity.hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.application-btn {
    display: block;

    width: 169px;
    height: 56px;

    border: none;
    color: var(--primary-inverted-text-clr);
    background-color: var(--primary-brand-clr);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: var(--primary-border-radius);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.application-btn:hover,
.application-btn:focus {
    background-color: var(--primary-focus-hover-clr);
}


/* Portfolio page */
/* filters */

.filters.section {
    /* padding: 48px 0; */
}

.btn-filters-list {
    /* row-gap: 16px;
    column-gap: 24px;
    margin-bottom: 48px; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.filters-btn {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    letter-spacing: 0.04em;


    color: var(--primary-brand-clr);
    background: var(--lingt-bg-clr);
    cursor: pointer;
    border: 1px solid var(--accent-clr);
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    border: 1px solid transparent;

    color: var(--primary-inverted-text-clr);
    background: var(--primary-focus-hover-clr);
}

/* Filters list */

.filters-list {
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px; */
    justify-content: center;
}


.filters-item {
    /* width: calc((100% - 48px) / 3); */
    /* margin-bottom: 48px; */
}

.filters-item>.link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-item>.link:hover,
.filters-item>.link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.box-img {
    position: relative;
    overflow: hidden;
}

.overflow-box {
    position: absolute;
    display: inline-block;
    /* display: none; */
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transform: translateY(100%);

    background-color: var(--primary-brand-clr);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflow-text {
    padding: 40px 32px;

    font-weight: 400;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    letter-spacing: 0.02em;

    opacity: 0;

    color: var(--secondary--inverted-text-clr);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms;
}

.link:hover .overflow-box,
.link:focus .overflow-box {
    transform: translateY(0);
}

.link:hover .overflow-text,
.link:focus .overflow-text {
    opacity: 1;
}


.filters-img {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}

.filters-text {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-dark-clr);
}

.filters-name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    letter-spacing: 0.02em;

    color: var(--primary-text-clr);
}